.first-body{
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.writing{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin-left: 100px;
  margin-right: 50px;
  flex: 3;
  border: 2px solid white;
  border-radius: 15px;
}

.pic{
  flex: 1;
  margin-right: 50px;
}

.headshot-image{
  height: 220px;
  width: auto;
  border-radius: 30%;
}

.first-header{
  font-size: 60px;
}

.intro{
  font-size: 20px;
  text-align: center;
}





.second-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  font-size: 30px;
  margin-top: 30px;
  background-color: white;
}

.project-links{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project1, .project2{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 8px;
  font-size: 20px;
  padding-top: 5px;
}

h2{
  margin: 20px;
}

.p1-text, .p2-text{
  white-space: nowrap;
  margin: 2px;
}

.project-links img{
  height: 50px;
  width: auto;
  padding: 2px;
  border-radius: 8px;
  border: 2px solid #3882F6;
}

.project1:hover, .project2:hover{ 
  cursor: pointer;
  background-color: rgb(185, 185, 185);
}
