.first-body{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.la-pic{
}

.writing{
  color: white;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 60px;
}

.headshot-image{
  height: 220px;
  width: auto;
  border-radius: 20%;
  border: 2px solid white;
}



.first-header{
  font-size: 100px;
  margin-bottom: 20px;
  text-align: center;
}

.intro{
  font-size: 20px;
  text-align: center;
}
