.second-body{
  padding-top: 110px;
  padding-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  color: black;
}

.project-links{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project1, .project2, .project3{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 40px;
  padding-left: 40px;
  border-radius: 8px;
  font-size: 20px;
  padding-top: 40px; 
}

.project1{
  padding-top: 20px;
}

.p1-image, .p2-image, .p3-image{
  display: flex;
  flex-direction: column;
  align-items: center;

  flex: 1;
}

.p1-image img, .p2-image img, .p3-image img{
  height: 50px;
  width: auto;
}

.p1-description, .p2-description, .p3-description{
  flex: 2;
  font-size: 18px;
}

h2{
  margin: 20px;
}

.p1-text, .p2-text, .p3-text{
  white-space: nowrap;
  margin: 2px;
}

.project-links img{
  padding: 2px;
}