html{
  height: 100%;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  margin: 0;
}

.main{
  min-height: 100%;
  background: linear-gradient(#1F2937 35%, white 50%);
  color: white;
}

.container{
  display: flex;
  flex-direction: column;
}

a{
  text-decoration: none;
  color: black;
}
