.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 200px;
  margin-right: 200px;
  align-items: center;
}

.logo-img{
  height: 33px;
  width: auto;
}

.logo-img:hover{
  cursor: pointer;
}

.header-logo{
  flex: 1;
  flex-grow: 1;
}

.header-links{
  flex: 1;
  justify-content: space-between;
  white-space: nowrap;
  flex-wrap: wrap;
}

.header-links > ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

li{
  padding-left: 20px;
  color: white;
  transition: 200ms;
}

li:hover{
  text-shadow: 0.5px 0;
  cursor: pointer;
}